<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>a</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="valueCurrent">b</span>
      <p>
        <span>Current account balance</span>
      </p>

    </mat-card-content>
    <mat-card-actions>
      <div class="row rowValues mt-2">
  
        <div class="col-6" id="income">
          <span>
            <p>Income</p>
          </span>
          <p>c</p>
        </div>
  
        <div class="col-6">
          <span>
            <p>Expense</p>
          </span>
          <p id="expense">d</p>
        </div>
  
      </div>
    </mat-card-actions>
  </mat-card>