mat-toolbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-toolbar);
}

.container {
  margin-top: 25px;
}

.image-user {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.name-user {
  margin-right: 15px;
  font-size: 15px;
}

.iconLogin {
  margin-right: 15px;
  cursor: pointer;
}

.loggedUserIcon {
  margin-right: 15px;
}

.iconCanvas {
  margin-left: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  margin-top: 5px;
  text-decoration: none;
  color: var(--color-white);
}

.offcanvas-start {
  background-color: var(--color-black-canvas);
}

.mat-tree {
  background-color: var(--color-black-canvas);
  display: inline;
}

mat-tree-node,
.offcanvas-title {
  color: var(--color-white);
}

.icon-menu {
  margin-right: 10px;
  margin-bottom: 5px;
}

.menu-item {
  font-size: var(--font-size-lg);
}

.menu-item>.col-6>a>span {
  box-shadow: var(--shadow-toolbar-register-login)
}