mat-toolbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-toolbar);
}

.container {
  margin-top: 25px;
}

.logo-app>a>img {
  width: 70px;
}

.image-user {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.name-user {
  margin-right: 15px;
  font-size: 15px;
}

.fi {
  margin-right: 15px;
  cursor: pointer;
}

.iconCanvas {
  margin-left: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}

/* menu */
.menu {
  border: solid red 1px;
  /* display: inline-grid; */
}

/* .itens-menu {
  margin-top: 25px;
  margin-left: 15px;
} */