mat-toolbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-toolbar);
}

.container {
  margin-top: 25px;
}

.image-user {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.name-user {
  margin-right: 15px;
  font-size: 15px;
}

.iconLogin {
  margin-right: 15px;
  cursor: pointer;
}

.iconCanvas {
  margin-left: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.link-menu {
  color: black;
}

.offcanvas-body {
  flex-grow: 0;
}