<ngx-ui-loader></ngx-ui-loader>

<mat-toolbar>

  <a data-bs-toggle="offcanvas" data-bs-target="#demo">
    <i class="iconCanvas fi fi-rr-menu-burger"></i>
  </a>
  <span class="example-spacer"></span>

  <!-- botão redirecionar para login -->
  <div *ngIf="isLogged == false">

    <div class="row menu-item">
      <div class="col-6">
        <a routerLink="register">
          <span>Register</span>
        </a>
      </div>

      <div class="col-6">
        <a routerLink="login">
          <span>Login</span>
        </a>
      </div>
    </div>

  </div>

  <!-- nome e foto -->
  <div *ngIf="isLogged == true">
    <span class="name-user">Hi, {{userInfo?.name.split(" ", 1)}}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <img class="image-user" [src]="userImage">
    </button>

    <mat-menu #menu="matMenu">

      <a href="profile">
        <button mat-menu-item>
          <i class="fi fi-rr-user loggedUserIcon"></i>
          <span>Profile</span>
        </button>
      </a>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout($event)">
        <i class="fi fi-rr-sign-out-alt loggedUserIcon"></i>
        <span>Logout</span>
      </button>
    </mat-menu>

  </div>

</mat-toolbar>


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Menu</h1>
    <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->

      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <a class="menu-item" [routerLink]="node.link">
          <!-- <i class="fi fi-rr-chat-arrow-grow"></i> -->
          <img class="icon-menu" [src]="node.icon"> {{node.name}}
        </a>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button class="item-menu" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <span class="menu-item">{{node.name}}</span>
      </mat-tree-node>
    </mat-tree>

  </div>

</div>