<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>{{dataSource?.dateActual | date: 'MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="valueCurrent">{{dataSource?.valueIncome - dataSource?.valueExpense | currency: 'BRL' }}</span>
    <p>
      <span>Current account balance</span>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <div class="row rowValues">

      <div class="col-6">
        <p>Receitas</p>
        <p></p>
      </div>

      <div class="col-6">
        <p>Despesas</p>
        <p></p>
      </div>

    </div>
  </mat-card-actions>
</mat-card>