<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>{{dataSource?.dateActual | date: 'MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="valueCurrent">{{dataSource?.valueIncome - dataSource?.valueExpense | currency: 'BRL' }}</span>
    <p>
      <span>Current account balance</span>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <div class="row rowValues mt-2">

      <div class="col-6" id="income">
        <span>
          <p>Income</p>
        </span>
        <p>{{dataSource?.valueIncome | currency: 'BRL'}}</p>
      </div>

      <div class="col-6">
        <span>
          <p>Expense</p>
        </span>
        <p id="expense">{{dataSource?.valueExpense | currency: 'BRL'}}</p>
      </div>

    </div>
  </mat-card-actions>
</mat-card>