mat-card {
    height: 225px;
}

mat-card-content {
    text-align-last: center;
}

.valueCurrent {
    font-family: monospace;
    font-size: var(--font-size-x-lgg);
}

.rowValues {
    text-align-last: center;
}

#income {
    color: var(--color-income);
}

#expense {
    color: var(--color-expense);
}

span > p {
    color: var(--color-gray);
    margin-bottom: 5px;
}