<div id="user-view-page" class="page-container">

    <div class="row mt-3">

        <div class="col-6">
            <span class="typography utility label dark-down block">Description</span>
            <span class="typography body body-md bold">{{income?.description}}</span>
        </div>

        <div class="col-6">
            <span class="typography utility label dark-down block">Value</span>
            <span class="typography body body-md">{{income?.value | currency: 'BRL'}}</span>
        </div>

    </div>

    <div class="row mt-5">


        <div class="col-6">
            <span class="typography utility label dark-down block">Type Income</span>
            <span class="typography body body-md">{{income?.typeIncome.description}}</span>
        </div>

        <div class="col-3">
            <span class="typography utility label dark-down block">Is Received</span>
            <span class="typography body body-md">{{income?.isReceived | boolean}}</span>
        </div>

        <div class="col-3">
            <span class="typography utility label dark-down block">Date Inclusion</span>
            <span class="typography body body-md">{{income?.dateInclusion | date: 'dd/MM/yyy'}}</span>
        </div>


    </div>

    <div class="row mt-5 ">

        <div class="col-6 d-flex">

            <button mat-raised-button class="ds-button ds-button-primary" [routerLink]="['/income/edit',  income?.id]">
                <i matSuffix class="fi fi-rr-pencil"></i>
                Edit
            </button>
            
        </div>

        <div class="col-6 deleteBtn">
            <button mat-raised-button (click)="delete()" class="ds-button-danger">
                <i matSuffix class="fi fi-rr-trash"></i>
                Delete
            </button>
        </div>

    </div>
</div>