<div class="page-container" id="home">

    <div class="row">

        <div class="col-md-7 col-12">
            <div>
                <app-current-balance></app-current-balance>
            </div>

        </div>

        <div class="col-md-5 col-12">
            <div>
                ULTIMAS TRANSAÇÕES
            </div>
        </div>

    </div>

    <!-- <div class="row mt-4">
        <div class="col-12">
            <app-spent-month></app-spent-month>
        </div>
    </div> -->

    <div class="row mt-4">
        <div class="col-12">
            <div>
                <app-expense-category></app-expense-category>
            </div>
        </div>
    </div>


</div>