.row-center {
    justify-content: center;
}

mat-divider {
    margin-top: 5px;
}

mat-card-actions{
    margin-top: 15px;
}

span, a {
    font-size: var(--font-size-lg);
}

::ng-deep .mat-form-field-suffix {
    align-self: center !important;
}