/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {

    /* TOOLBAR */
    --shadow-toolbar: 0px 2px 10px 0px #00800063;

    /* CARD */
    --shadow-card: 0 3px 4px 0px rgba(0, 0, 0, 0.6);

    /* PRIORITY */
    --color-primary: #3f51b5;
    --color-white: white;
    --color-primary-hover: #4d5db8e2;

    /* NEUTRALS */
    --color-neutral-dark-up: #27314A;
    --color-neutral-dark-medium: #4F596D;
    --color-neutral-dark-down: #8D95AC;
    --color-neutral-medium-up: #AFBAD7;
    --color-neutral-medium-down: #EEEFF3;
    --color-neutral-light: #FFFFFF;
    --color-neutral-light-up: #F7F8F9;

    /* FONT-SIZES */
    --space-xs: 4px;
    --space-sm: 8px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --space-lg: 16px;

    /* FONT WEIGHT */
    --font-weight-regular: 400;

    /* SPACES */
    --space-lg: 16px;

}


/* card */
mat-card-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

mat-card-subtitle {
    font-size: 12px;
    font-style: italic;
}

.titulo-card {
    font-size: 22px;
}

.example-card {
    box-shadow: var(--shadow-card) !important;
}

/* fim card */

/* input e matform */
mat-form-field.no-padding .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--color-neutral-medium-up);
}

form mat-form-field.full-width {
    width: 100%;
}

form mat-form-field .mat-form-field-infix {
    margin-top: 4px;
    border: 0;
}

form mat-label {
    color: var(--color-neutral-dark-down);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
}

/* fim input e matform */

.mr {
    margin-right: var(--space-lg);
}

/* padronizar botao */



.ds-button-primary {
    background: var(--color-primary);
    color: white;
    margin: 10px 20px !important;
}

.ds-button-primary i {
    font-size: 14px;
    margin-right: var(--space-sm);
    display: inline-block;
}

.ds-button-primary:hover {
    background-color: var(--color-primary-hover);
}