/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {

    /* TOOLBAR */
    --shadow-toolbar: 0px 2px 10px 0px #00800063;
    --shadow-toolbar-register-login: 0px 1px 0px 0px rgba(255, 255, 255, 0.247);

    /* CARD */
    --shadow-card: 0 3px 4px 0px rgba(0, 0, 0, 0.6);

    /* PRIORITY */
    --color-primary: #3f51b5;
    --color-white: white;
    --color-primary-hover: #4d5db8e2;
    --color-btn-add: #3f51b529;
    --color-danger: #b53f3f;
    --color-danger-hover: #b84d4de2;
    /* --color-brand-primary-down: #1944B8; */

    /* NEUTRALS */
    --color-neutral-dark-up: #27314A;
    --color-neutral-dark-medium: #4F596D;
    --color-neutral-dark-down: #8D95AC;
    --color-neutral-medium-up: #AFBAD7;
    --color-neutral-medium-down: #EEEFF3;
    --color-neutral-light: #FFFFFF;
    --color-neutral-light-up: #fbfbfb;


    /* FONT-SIZES */
    --font-size-2xs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-lg: 16px;
    --font-size-lgg: 20px;

    /* SPACES */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-lg: 16px;
    --space-xl: 24px;

    /* FEEDBACKS */
    --color-feedback-negative-light: #FBE5E7;
    --color-feedback-positive-medium: #238A4F;
    --color-feedback-negative-medium: #DD1F2E;

    /* CANVAS */
    --color-black-canvas: #181818eb;

    /* FONT WEIGHT */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* BACKGROUNDS */
    --color-bg-dark-up: #27314A;
    --color-bg-dark-down: #254890;

}

/* GLOBAL */
.newItem {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-container {
    padding: 32px;
    background: var(--color-neutral-light-up);
}

.page-container .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TYPOGRAPHY */
/* p.typography {
    margin-bottom: 0;
} */

/* .typography.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

/* .typography.primary {
    color: var(--color-brand-primary);
} */

/* .typography.dark-up {
    color: var(--color-neutral-dark-up);
} */

.typography.dark-down {
    color: var(--color-neutral-dark-down);
}
/* 
.typography.neutral-light {
    color: var(--color-neutral-light);
} */

/* .typography.medium-up {
    color: var(--color-neutral-medium-up);
} */

/* .typography.headlines {
    margin: 0;
}

.typography.headlines.h1 {
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-black);
}

.typography.headlines.h2 {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-black);
}

.typography.headlines.h3 {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-regular);
}

.typography.headlines.h4 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-medium);
}

.typography.headlines.h5 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

.typography.headlines.h6 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
} */

/* .typography.body {
    font-weight: var(--font-weight-regular);
} */

.typography.body.subtitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}

.typography.body.body-lg {
    font-size: var(--font-size-lg);
}

.typography.body.body-md {
    font-size: var(--font-size-md);
}

.typography.body.body-sm {
    font-size: var(--font-size-sm);
}

.typography.body.body-2xs {
    font-size: var(--font-size-2xs);
}

.typography.utility.button-md {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.typography.utility.button-sm {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.typography.utility.label {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
}

.typography.utility.caption {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
}

.block {
    display: block;
}


/* CONFIG CARD */
mat-card-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

mat-card-subtitle {
    font-size: 12px;
    font-style: italic;
}

.titulo-card {
    font-size: 22px;
}

.example-card {
    box-shadow: var(--shadow-card) !important;
}

/* CONFIG INPUT AND MAT-FORM-FIELD */
mat-form-field.no-padding .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--color-neutral-medium-up);
}

form mat-form-field.full-width {
    width: 100%;
}

form mat-form-field .mat-form-field-infix {
    margin-top: 4px;
    border: 0;
}

form mat-label {
    color: var(--color-neutral-dark-down);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
}

.mr {
    margin-right: var(--space-lg);
}


/* CONFIG BUTTONS */
.ds-button {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.ds-button-primary {
    background: var(--color-primary);
    color: white;
    margin: 10px 20px !important;
}

.ds-button-primary i {
    font-size: 14px;
    margin-right: var(--space-sm);
    display: inline-block;
}

.ds-button-primary:hover {
    background-color: var(--color-primary-hover);
}

.ds-button-danger {
    background: var(--color-danger);
    color: white;
    margin: 10px 20px !important;
}

.ds-button-danger i {
    font-size: 14px;
    margin-right: var(--space-sm);
    display: inline-block;
}

.ds-button-danger:hover {
    background-color: var(--color-danger-hover);
}

.btnListTypes {
    text-align-last: start;
}

/* CONFIG SNACKS */
.snack-erro {
    background: var(--color-feedback-negative-light);
    color: var(--color-neutral-dark-up);
    border-left: solid 3px var(--color-feedback-negative-medium);
}

.snack-erro .icon.erro {
    color: var(--color-feedback-negative-medium);
    display: initial;
}

.snack-sucesso {
    background: var(--color-feedback-positive-medium);
    color: var(--color-white);
    border-left: solid 3px var(--color-feedback-negative-ligh);
}

/* DIALOG */
#confirm-dialog .header {
    background: var(--color-bg-dark-down);
    color: white;
    padding: var(--space-sm) var(--space-xl);
    align-items: center;
}

#confirm-dialog .header button {
    color: white;
}

#confirm-dialog .icon-close {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

#confirm-dialog .action-buttons {
    display: flex;
    justify-content: right;
}

#confirm-dialog .action-buttons button {
    margin-left: var(--space-lg);
}

#confirm-dialog .span-title {
    margin-right: 40px;
}

/* TABLE */
.striped .mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.striped .mat-row:nth-child(odd) {
    background-color: var(--color-neutral-medium-down);
}