<div id="expense-edit-page" class="page-container">

    <form [formGroup]="formPage">

        <div class="row">
            <div class="col-8">
                <mat-label>Description</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-label>Value</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <input matInput formControlName="value" currencyMask>
                </mat-form-field>
            </div>

        </div>

        <div class="row">

            <div class="col-5">
                <mat-label>Type Expense</mat-label>
                <mat-form-field class="full-width" appearance="outline">

                    <mat-select formControlName="typeExpense"
                        [placeholder]="this.formPage.value.typeExpense?.description">
                        <mat-option *ngFor="let item of typesExpense" [value]="item">
                            {{item.description}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-label class="label block labelOutMatFormField">Is Received</mat-label>
                <mat-radio-group formControlName="isReceived">
                    <mat-radio-button [value]="true" class="radioRight">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="row mt-5 ">
            <div class="col-12 d-flex">
                <button mat-button class="btn-primary" (click)="update()"><i
                        class="fi fi-rr-pencil"></i>Update</button>
            </div>
        </div>

    </form>


</div>
